.header {


    &_arrow{
        position: relative;
        top: 40px;
        padding-left: 25px;
        font-size: 20px;
        @include desktop{
            display: flex;
            font-size: 15px;
            position: relative;
            top: 35px;
        }    
    }
    &_title{
        width: 162px;
        height: 65px;
        font-family: "Shrikhand", serif;
        margin: auto;
        padding-top: 10px;
    }
}